#homeScratch {
  margin: auto;
  width: 800px;
  background-color: white;
  border-radius: 6px;
  font-size: 16px;
}

#un {
  background-color: #5A9BFF;
  margin: auto;
  width: 800px;
  border-radius: 6px;
}

#un button {
  border-radius: 6px;
  font-size: 16px;
  font-family: ;
  background-color: #5A9BFF;
  border-color: black;
}

#un button:hover {
  background-color: #111;
  color: white;
}

body {
  background-color: #F57D00;
  text-align: center;
  align-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #463f3c;
  border-radius: 6px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
  color: white;
}
